<div>
  <p>Provider: <%= user.provider %></p>
  <p>ID: <%= user.id %></p>
  <p>Display Name: <%= user.displayName %></p>
</div>
<div>
  Other Users:
  <ul>
    <% allPersons.forEach( (person) => { %>
      <li> User Name: <%= person.name %></li>
    <% }); %>
  </ul>
</div>
