<div>
  <p>ID: <%= user.facebookId %></p>
  <p>Display Name: <%= user.name %></p>
</div>
<div>
  Other Users:
  <ul>
    <% allUsers.forEach((user) => { %>
      <li> User Name: <%= user.name %></li>
    <% }); %>
  </ul>
</div>
